\documentclass{article}

\title{  {{ title}} }
\author{ {{ author }} }

\usepackage{tikz}
\usetikzlibrary{chains}
\usepackage{epstopdf}
\graphicspath{ {cisco-icons-bw-eps/} }
\begin{document}

{% block tikzpicture %}{% endblock %}

\end{document}
