\node [
    continue chain=going below,
    diagram item,
    label={[xshift=1em]\tiny DHCP},
    label={[xshift=1.5cm]center:{{ name }}},
    label={[xshift=1em]below:\tiny .1},
] {\includegraphics{router}};
